.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 90;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-main);
    z-index: -1;
    opacity: 0.9;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    min-height: 25rem;
    width: 50rem;

    container-type: inline-size;
    background-color: var(--bg-card);
    border-radius: 1rem;
    box-shadow: 0px 0.6rem 1rem -0.5rem var(--accent);

    &-content {
      position: relative;
      display: flex;
      align-items: center;
      gap: 5cqi;
      z-index: 1;
      
      &__icon {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-shrink: 0;
        width: 10cqi;
        height: 10cqi;
        gap: 0.8cqi;
        flex-shrink: 0;
  
        padding: 1.5cqi;
        
        border-radius: 1cqi;
        background-color: var(--text-main);
  
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 87%;
          height: 87%;
          background-color: var(--bg-card);
          border-radius: inherit;
          z-index: 1;
        }
        
        & span {
          position: relative;
          border-radius: 0.8cqi;
          background-color: var(--text-main);
          z-index: 2;
  
          animation: squareFade 3.6s ease-in-out infinite;
  
          transform: scale(0.1);
          opacity: 0;
        }
  
        & span:nth-child(1) { animation-delay: 0s; }
        & span:nth-child(2) { animation-delay: 0.2s; }
        & span:nth-child(3) { animation-delay: 0.4s; }
        & span:nth-child(4) { animation-delay: 0.6s; }
  
        /* Анимация */
        @keyframes squareFade {
          0% {
            opacity: 0;
            transform: scale(0.1);
          }
  
          20% {
            opacity: 1;
            transform: scale(1);
          }
  
          60% {
            opacity: 1;
            transform: scale(1);
          }
  
          80% {
            opacity: 0;
            transform: scale(0.1);
          }
  
          100% {
            opacity: 0;
            transform: scale(0.1);
          }
        }
        
      }
  
      &__descr {
        font-size: 7cqi;
        line-height: 110%;
        font-weight: 500;
        color: var(--text-main);
      }
    }
  }

}

@media (max-width: 768px) {
  .loader {
  
    &__container {
      padding: 1rem;
  
      min-height: 40rem;
      width: 80rem;

      border-radius: 2rem;
    }
  
  }
  
}

@media (max-width: 470px) {

  .loader {
  
    &__container {
      padding: 1rem;
  
      min-height: 50rem;
      width: 100rem;
      
      border-radius: 2rem;
    }
  
  }
}