.notifications-content {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 70%;
  padding: 2rem 3rem;

  background-color: var(--bg-card);
  border-radius: 1rem;
  box-shadow: 0px 0.6rem 1rem -0.5rem var(--accent);

  z-index: 101;

  &__descr {
    text-align: center;
    font-size: 2.6rem;
    line-height: 110%;
    font-weight: 300;
    color: var(--text-main);
  }

}

@media (max-width: 768px) {
  .notifications-content {
    width: 100%;
    max-width: 80%;
    padding: 3.5rem 2rem;
  
    &__descr {
      font-size: 6rem;
    }
  
  }
  
}

@media (max-width: 470px) {

  .notifications-content {
    max-width: 90%;
  
    &__descr {
      font-size: 6rem;
    }
  
  }
}