.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 70rem;
  min-height: 35rem;
  perspective: 1200px;
  cursor: pointer;
  container-type: inline-size;

  &__content {
    position: relative;
    flex: 1;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    border-radius: 3cqi;
    box-shadow: 0 1cqi 2cqi rgba(0, 0, 0, 0.1);
    background-color: var(--bg-card);
    border: 0.4cqi solid var(--border);
    
    &-article {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 2cqi;
      display: flex;
      align-items: center;
      justify-content: center;
      backface-visibility: hidden;

      &.article-back {
        transform: rotateY(180deg);
      }

      &__descr {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
        font-size: 5cqi;
        font-weight: 400;
        color: var(--text-main);
        line-height: 110%;
      }
    }
  }

  &.is-flipped {

    & .card-info__content {
      transform: rotateY(180deg);
    }
  }
}
@media (max-width: 1024px) {
  .card-info {
    width: 80rem;
    min-height: 40rem;
  }
}

@media (max-width: 768px) {
  .card-info {
    width: 120rem;
    min-height: 60rem;

    &__content {
      
      &-article {
  
  
        &__descr {
          font-size: 6cqi;
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .card-info {
    max-width: 90%;
    width: 120rem;
    min-height: 60rem;

    &__content {
      
      &-article {
  
  
        &__descr {
          font-size: 7cqi;
        }
      }
    }
  }
}
