.pagination-conterols {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.5rem 0;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;

        &-btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5rem;
            width: 100%;

            &__btn {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 6rem;
                height: 6rem;
                border-radius: 100%;
                container-type: inline-size;
                
                border: 0.3rem solid var(--border);

                & svg {
                    width: 50%;
                    height: 50%;
    
                    fill: var(--text-main);
                }

                &:hover {
                    border-color: var(--accent);

                    & svg {
                        fill: var(--accent);
                    }

                    & .pop-up-message {
                        transform: translateX(-50%);
                        opacity: 1;

                    }
                }

                & .pop-up-message {
                    position: absolute;
                    bottom: 130%;
                    left: 50%;
                    transform: translateX(-50%) translateY(100%);
                    padding: 15cqi 30cqi;

                    pointer-events: none;
                    background-color: var(--bg-card);
                    border-radius: 10cqi;
                    border: 2cqi solid var(--border);

                    white-space: nowrap;
                    font-size: 30cqi;
                    font-weight: 300;
                    color: var(--text-main);
                    line-height: 100%;

                    z-index: -1;
                    transition: all 0.3s ease-in-out;
                    opacity: 0;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 102%;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: 0;
                        border-left: 15cqi solid transparent;
                        border-right: 15cqi solid transparent;
                        border-top: 15cqi solid var(--border);
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .pagination-conterols {
        padding: 2rem 0;
    
        &__content {
    
            &-btns {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5rem;
    
                &__btn {
                    width: 8rem;
                    height: 8rem;
                    
                    border: 0.5rem solid var(--border);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .pagination-conterols {
        padding: 4rem 0;
    
        &__content {
    
            &-btns {
                gap: 10rem;
    
                &__btn {
                    width: 14rem;
                    height: 14rem;
                    
                    border: 0.7rem solid var(--border);
    
                    &:hover {
                        border-color: var(--accent);
    
                        & svg {
                            fill: var(--accent);
                        }
    
                        & .pop-up-message {
                            transform: none;
                            opacity: 0;
    
                        }
                    }
                }
            }
        }
    }
}
  
@media (max-width: 470px) {
    .pagination-conterols {
        padding: 4rem 0;
    
        &__content {
    
            &-btns {
                gap: 10rem;
    
                &__btn {
                    width: 15rem;
                    height: 15rem;
                    
                    border: 0.7rem solid var(--border);
    
                    &:hover {
                        border-color: var(--accent);
    
                        & svg {
                            fill: var(--accent);
                        }
    
                        & .pop-up-message {
                            transform: none;
                            opacity: 0;
    
                        }
                    }
                }
            }
        }
    }
}