.theme-toggler {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;

  .custom-switch {
    --switch-width: 8rem;
    --switch-height: 4rem;
    --slider-size: 3.2rem;
    //--icon-width: 2.5rem;
    //--icon-height: 2.5rem;
  
    position: relative;
    display: block;
    overflow: hidden;
    height: var(--switch-height);
    width: var(--switch-width);
    background-color: inherit;
    border: 0.3rem solid var(--border);
    border-radius: 50px;
    cursor: pointer;
  
    & input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
  
      &:checked + .custom-switch__slider {
  
        &::after {
          transform: translateY(-50%) translateX(calc(var(--switch-width) - var(--slider-size) - 1.1rem));
        }
      }
    }
    
    &__slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
  
      transition: all 0.3s ease-in-out;
  
      &::after {
        content: '';
        position: absolute;
        left: 0.3rem;
        top: 50%;
        transform: translateY(-50%);
        width: var(--slider-size);
        height: var(--slider-size);
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        background-color: var(--text-secondary);
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: var(--icon-height);
      width: var(--icon-width);
      height: 80%;
      transition: all 0.3s ease-in-out;

      & svg {
        width: 90%;
        height: 90%;
        fill: var(--text-secondary);
      }

      &.dark {
        right: 0.5rem;
      }

      &.light {
        transform: translateY(-47%);
        left: 0.7rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .theme-toggler {
  
    .custom-switch {
      --switch-width: 10rem;
      --switch-height: 5rem;
      --slider-size: 4.2rem;
    }
  }
}

@media (max-width: 768px) {
  .theme-toggler {
    bottom: unset;
    top: 2rem;
    right: 2rem;
  
    .custom-switch {
      --switch-width: 16rem;
      --switch-height: 8rem;
      --slider-size: 6.2rem;
      border: 0.5rem solid var(--border);
  
      &__icon {
  
        &.dark {
          right: 0.5rem;
        }
  
        &.light {
          left: 1.2rem;
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .theme-toggler {
    left: 2rem;
    right: unset;
  
    .custom-switch {
      --switch-width: 19rem;
      --switch-height: 10rem;
      --slider-size: 8.2rem;
  
      &__icon {
  
        &.dark {
          right: 0.5rem;
        }
  
        &.light {
          left: 1.2rem;
        }
      }
    }
  }
}